{% extends 'layouts/layout.html.twig' %}

{% block body %}
    <ul class="list-group m-4">
        <li class="list-group-item list-group-item-info">Studentai</li>
        {% for student in students %}
        <li class="list-group-item">
            <a href="{{ path('students.show', { name: student.name, project: student.project}) }}">{{ student.name }}</a>
            (
            <span class="badge">{{ student.mentors|length > 1 ? 'Mentoriai' : 'Mentorius' }}</span> {{ student.mentors|join(', ') }}
            )
        </li>
        {% endfor %}
    </ul>

    <div class="m-4">
        <form action="{{ path('students.show') }}" method="get">
            <div class="input-group">
                <input name="name" type="text" class="form-control" placeholder="Studentas">
            </div>
            <div class="input-group">
                <input name="project" type="text" class="form-control" placeholder="Projektas">
            </div>
            <button type="submit" class="btn btn-success">Sužinoti vertinimą</button>
        </form>
    </div>

    <ul class="list-group m-4">
        <li class="list-group-item list-group-item-info">Projektai</li>
        {% for project in projects %}
        <li class="list-group-item">
            <h3>{{ project.full_title }}</h3>
            <div class="panel panel-default">
                <div>
                    <a target="_blank" href="//{{ project.github_link }}">{{ project.github_link }}</a>
                    <span class="badge">GitHub</span>
                </div>
                <div>
                    <a target="_blank" href="{{ "http://"  ~ project.web_link }}">{{ project.web_link }}</a>
                    <span class="badge">Web</span>
                </div>
                <div>
                    <pre>{{ project.ssh }}</pre>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="m-4">
        <a class="text-light" href="students.json">Duomenų failas</a>
    </div>
{% endblock %}